@import '~/assets/styles/partials/index';

:root {
  --color-primary: #000000;
  --color-dark: #030303;
  --color-light: #f9f9f9;
  --color-lightgray: rgba(0, 0, 0, 0.05);
  --color-gray: rgba(0, 0, 0, 0.1);
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-light);
  color: var(--color-primary);
}

a, button {
  cursor: pointer;
}
