@import '~/assets/styles/partials/index';

:root {
  --color-primary: #000000;
  --color-dark: #030303;
  --color-light: #fefefe;
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-light);
  color: var(--color-primary);
}

a, button {
  cursor: pointer;
}
